<div class="container">
  <div class="header">
    <h1>INFO LIMPIEZA</h1>
    <div class="buttons">
      <div class='loadExcelInput' mat-raised-button>
        <button type="button" mat-raised-button style="cursor:auto;">
          <input type="file" name="files[]" multiple id="jsonFile" accept=".xlsx" (change)="onFileChange($event)"/>
        </button>
      </div>

      <div class="downloadBtn">
        <button mat-raised-button type="button" (click)="onDownloadDistribution()">Descargar Distribucion</button>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="main" *ngIf="tree.length > 0">
    <h2>Distribucion de estudiantes y docentes para la Info Limpieza</h2>
    <app-tree
      [tree]="tree"
    ></app-tree>
    
  </div>
</div>